/* Prak6: Aufg1, 1 */
body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "main aside"
    "footer footer";
}
/* Prak7: Aufg2 */
@media screen and (max-width: 768px) {
  body {
    grid-template-areas:
      "header"
      "nav "
      "main"
      "aside"
      "footer";
  }
}

#detailmain {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "info podcastimg "
    "epliste podcastimg ";
  grid-template-columns: 50% 50%;
}
/* Prak7: Aufg2 */
@media screen and (max-width: 480px) {
  #detailmain {
    grid-template-areas:
      "info "
      "epliste"
      "podcastimg";
    grid-template-columns: 1fr;
  }
}

#newpodmain {
  grid-area: main;
  display: grid;
  grid-template-areas: "newform";
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}

#info {
  grid-area: info;
}

#epliste {
  grid-area: epliste;
}

#podcastimg {
  grid-area: podcastimg;
  padding: 10px;
}

#newform {
  grid-area: newform;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

aside ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

ul li {
  padding: 5px;
}
/* Prak7 Aufg 3.2 */
ul {
  text-align: center;
}
