main {
  display: flex;
  flex: 3 60%;
}
#mainul li {
  list-style-type: none;
}

a {
  flex-flow: row !important;
  flex-wrap: wrap !important;
  display: inline-block !important;
}

img {
  display: inline !important;
  position: static !important;
  padding: 15px;
}
a:hover {
  background-color: lightsteelblue;
}
#kachelAnsicht {
  display: none;
}
