#mainul {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
#mainul li:visited {
  list-style-type: none;
}

#mainul a {
  display: block;
  padding: 10px;
}
#mainul a:hover {
  background-color: lightsteelblue;
}
