<aside>
  <h2>Neueste Episoden</h2>
  <ul>
    <li>
      <%= (p.episoden[0].datum).substring(0,10) %>: <%= p.episoden[0].titel%>
    </li>
    <li>
      <%= (p.episoden[1].datum).substring(0,10) %>: <%= p.episoden[1].titel%>
    </li>
  </ul>
</aside>
